<div
  class="form-container mat-elevation-z5 text-center"
  *ngIf="user$ | async as user"
>
  <h1>Update Profile</h1>
  <div class="profile-image">
    <img
      width="120"
      height="120"
      class="margin-top mat-elevation-z1"
      [src]="user.photoURL ?? '/assets/images/image-placeholder.png'"
    />
    <button mat-mini-fab (click)="inputField.click()">
      <mat-icon>edit</mat-icon>
    </button>
  </div>
  <input #inputField hidden type="file" (change)="uploadFile($event, user)" />
</div>
